{% extends "base.html" %}
{% block title %} Afficher CONTRATS {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                contrats
            </p>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="align-middle">Id Contrat</th>
                        <th class="align-middle">Id Artiste</th>
                        <th class="align-middle">Date Contrat</th>
                        <th class="align-middle">Description Contrat</th>
                        <th class="align-middle">Montant</th>
                        <th class="align-middle">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if data %}
                    {% for row in data %}
                        <tr>
                            <td class="align-middle">{{ row.ID_Contrat }}</td>
                            <td class="align-middle">{{ row.ID_Artiste }}</td>
                            <td class="align-middle">{{ row.Date_Contrat }}</td>
                            <td class="align-middle">{{ row.Description_Contrat }}</td>
                            <td class="align-middle">{{ row.Montant }}</td>
                            <td class="text-center align-middle">
                                <a class="btn btn-warning" href="{{ url_for('gestion_contrats_update_wtf', id_contrat_update=row.ID_Contrat) }}" role="button">Edit</a>
                                <a class="btn btn-danger" href="{{ url_for('gestion_contrats_delete_wtf', id_contrat_delete=row.ID_Contrat) }}" role="button">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Aucun contrat trouvé.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
