{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				contrats
			</p>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="align-middle">Id evenement</th>
                        <th class="align-middle">nom evenement</th>
                        <th class="align-middle">Date evenement</th>
                        <th class="align-middle">Lieu</th>
                        <th class="align-middle">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if data %}
                    {% for row in data %}
                        <tr>
                            <td class="align-middle">{{ row.ID_Evenement }}</td>
                            <td class="align-middle">{{ row.Nom_Evenement }}</td>
                            <td class="align-middle">{{ row.Date_Evenement }}</td>
                            <td class="align-middle">{{ row.Lieu }}</td>
                            <td class="text-center align-middle">
                                <a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf', id_genre_btn_edit_html=row.ID_Evenement) }}" role="button">Ajouter</a>
                                <a class="btn btn-warning" href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.ID_Evenement) }}" role="button">Edit</a>
                                <a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.ID_Evenement) }}" role="button">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun genre.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
		</div>
	</div>
</div>
{% endblock %}
