{% extends "base.html" %}
{% block title %} Ajouter un contrat {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Ajouter un Contrat</h1>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.ID_Artiste.label(class="form-label") }}
                    {{ form.ID_Artiste(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.Date_Contrat.label(class="form-label") }}
                    {{ form.Date_Contrat(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.Description_Contrat.label(class="form-label") }}
                    {{ form.Description_Contrat(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.Montant.label(class="form-label") }}
                    {{ form.Montant(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
