{% extends "base.html" %}
{% block title %} Afficher Contrats {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="">
							ID Contrat
						</th>
						<th class="">
							ID Artiste
						</th>
						<th class="">
							Date Contrat
						</th>
						<th class="">
							Description Contrat
						</th>
						<th class="">
							Montant
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					<td class="align-middle">
						{{ row.ID_Contrat }}
					</td>
					<td class="align-middle">
						{{ row.ID_Artiste }}
					</td>
					<td class="align-middle">
						{{ row.Date_Contrat|default("", True) }}
					</td>
					<td class="align-middle">
						{{ row.Description_Contrat|default("", True) }}
					</td>
					<td class="align-middle">
						{{ row.Montant|default("", True) }}
					</td>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun contrat.
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
